/* GENERAL */

#root{
    min-height: 100vh;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header,
main,
footer{
    padding: 1rem;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* REG */
#reg {
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 6rem;
}

.reg-text{
    gap: 1.5rem;
    padding: 3rem 4rem;
}

.reg-login{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

#reg input {
    font-size: 1rem;
    max-width: 100%;
}

#reg button {
    display: grid;
    place-items: center;
    padding: 1rem 2rem;
}


/* WELCOME */
#welcome {
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1rem;
}

#welcome div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

#welcome svg {
    height: 25px;
}

#welcome input {
    font-size: 2rem;
    max-width: 100%;
}

#welcome button {
    display: grid;
    place-items: center;
    padding: 1rem 2rem;
}

/* DASHBOARD */
.stats-card{
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.welcome-text {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.stats-column {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;

}

.level {
    min-height: 40px;
    display: flex;
    align-items: stretch;
    gap: 1px;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.level > div:first-of-type {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 4;
}

.level-bar {
    flex: 1;
    background: var(--color-link-transparent)

}

.xp {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-link);
}


.countdown-card {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.item-header{
    color: var(--border-secondary);
}

.today-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));  
    gap: 1rem;
}

.countdown-card button{
    width: 100%;    
    place-items: center;
    padding: 0.5rem 1rem;
}

.history-card,
.history-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history-container > div {
    padding: 1rem;
    border-radius: var(--border-radius-small);
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 0.5rem
}

.history-container div div:first-of-type {
    grid-column: span 2 / span 2;
}

.history-container div div{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: var(--color-primary) !important;
}

/* CHALLENGE */
#challenge {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.challenge-btns{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
}

.challenge-btns button{
    display: grid;
    place-items: center;
    width: 100%;
}

.challenge-btns button h6 {
    white-space: nowrap;
    padding: 0.5rem 0rem
}

.helper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%
}

.helper input{
    max-width: 100%;
    text-align: center;
}

.helper > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.helper div div{
    background: var(--color-link-transparent);
    height: 6px;
    flex: 1;
    border-radius: var(--border-radius-small) ;
}

.correct {
    background: var(--color-link) !important;
}

.incorrect {
    background: oklch(.656 .241 354.308) !important;
}






/* PORTAL  */

/* FOOTER  */
footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 3rem 0;
    padding: 4rem;
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    padding-right: 0.5rem;
    background: var(--background-muted);
    border-radius: 4rem;
    border: 1px solid transparent;
    transition-duration: 200ms;
    text-decoration: none;

}

footer a:hover {
    border-color: var(--color-link);
}

     /* IF I WANT AN IMAGE */

footer a img{
    max-width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;

}

/* MEDIA QUERIES */
@media (min-width: 640px) {

}